/*
로그인 페이지
*/

.container {
    margin-top: 3%;
    max-width: 1000px;
    background-color: white;
    border-radius: 20px;
}

.title {
    border-bottom: 1px solid #eee;
}

.notice {
    font-size: 18px;
    color: red;
}

.login-box {
    border-radius: 18px;
    background-color: #E9F6FF;
}