.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.queue {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-highlight {
    color: navy;
}

.progress-bar {
    width: 0%;
    background-color: #3D90D9;
}

.warning, #waitingCount {
    color: navy;
    font-weight: 600;
}
