* {
    font-family: "Noto Serif KR", serif;
}

.body {
    height: 100%;
    background-color: rgb(242, 248, 244);
}

.wrap-contents {
    min-width: 1280px;
    height: 100%;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents {
    display: -webkit-flex;
    max-width: 1200px;
    height: 900px;
    align-items: center;
    padding: 30px;
    background: white;
    border-radius: 20px;
}

.project-name {
    margin-right: 50px;
    padding-bottom: 30px;
}

.title-name {
    margin-right: 50px;
    padding-bottom: 20px;
    border-bottom: 2px solid
}

.notice-0 {
    margin: 15px 10px 10px 10px;
}

.notice-1 {
    margin: 40px 30px 10px 10px;
}

.login-0 {
    height: 100%;
    padding-top: 110px;
    border-radius: 18px;
    background: #E9F6FF;
    vertical-align: baseline;
}

.login-1 {
    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    width: auto;
    height: 100px;
    background: url(../images/logo1.png) no-repeat center;
    background-size: 210px 70px;
}
.logo2 {
    width: auto;
    height: 250px;
    background: url(../images/logo2.png) no-repeat center;
    background-size: 210px 210px;
}


